.circa {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.circa .div {
  background-color: #ffffff;
  width: 1366px;
  height: 4760px;
  position: relative;
}

.circa .secondwave {
  position: absolute;
  width: 561px;
  height: 846px;
  top: 304px;
  left: 682px;
  object-fit: cover;
}

.circa .img {
  position: absolute;
  width: 525px;
  height: 525px;
  top: 626px;
  left: 123px;
  object-fit: cover;
}

.circa .fromrayacamera {
  position: absolute;
  top: 1242px;
  left: 334px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.circa .text-wrapper {
  top: 2144px;
  position: absolute;
  left: 334px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.circa .fromrayacamera-2 {
  top: 3088px;
  position: absolute;
  left: 334px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.circa .secondwave-2 {
  position: absolute;
  width: 1120px;
  height: 726px;
  top: 1351px;
  left: 123px;
  background-image: url(./img/secondwave93685-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.circa .p {
  position: absolute;
  width: 514px;
  top: 468px;
  left: 124px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.circa .secondwave-3 {
  position: absolute;
  width: 520px;
  height: 785px;
  top: 2248px;
  left: 722px;
  object-fit: cover;
}

.circa .secondwave-4 {
  position: absolute;
  width: 520px;
  height: 785px;
  top: 2248px;
  left: 123px;
  object-fit: cover;
}

.circa .secondwave-5 {
  position: absolute;
  width: 1120px;
  height: 726px;
  top: 3171px;
  left: 123px;
  object-fit: cover;
}

.circa .text-wrapper-2 {
  width: 1120px;
  top: 3944px;
  left: 123px;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: center;
  position: absolute;
  font-family: "Plus Jakarta Sans", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.circa .footer {
  position: absolute;
  width: 1124px;
  height: 24px;
  top: 4673px;
  left: 123px;
  background-color: transparent;
}

.circa .text-wrapper-3 {
  position: absolute;
  width: 153px;
  top: 0;
  left: 0;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.circa .terms-privacy {
  position: absolute;
  width: 105px;
  top: 8px;
  left: 1015px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.circa .text-wrapper-4 {
  position: absolute;
  top: 103px;
  left: 443px;
  mix-blend-mode: difference;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 85px;
  letter-spacing: 0;
  line-height: normal;
}

.circa .arrow {
  position: absolute;
  width: 69px;
  height: 44px;
  top: 52px;
  left: 113px;
}

.circa .BLOCK {
  position: absolute;
  width: 1122px;
  height: 468px;
  top: 4144px;
  left: 123px;
}

.circa .text-wrapper-5 {
  width: 335px;
  top: 250px;
  left: 1px;
  mix-blend-mode: difference;
  font-weight: 200;
  font-style: italic;
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  font-family: "Plus Jakarta Sans", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.circa .MIG {
  width: 728px;
  height: 432px;
  left: 392px;
  position: absolute;
  top: 0;
  object-fit: cover;
}

.circa .MIG-2 {
  width: 335px;
  height: 199px;
  left: 0;
  position: absolute;
  top: 0;
  object-fit: cover;
}
