.circa {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.circa .div {
  background-color: #ffffff;
  width: 1366px;
  height: 4826px;
  position: relative;
}

.circa .element {
  position: absolute;
  top: 107px;
  left: 131px;
  mix-blend-mode: difference;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 85px;
  letter-spacing: 0;
  line-height: normal;
}

.circa .adassa {
  position: absolute;
  width: 1120px;
  height: 726px;
  top: 294px;
  left: 124px;
  object-fit: cover;
}

.circa .text-wrapper {
  position: absolute;
  width: 566px;
  top: 124px;
  left: 678px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.circa .fromrayacamera {
  position: absolute;
  top: 1079px;
  left: 373px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.circa .fromrayacamera-2 {
  top: 2070px;
  position: absolute;
  left: 405px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.circa .fromrayacamera-3 {
  top: 2666px;
  position: absolute;
  left: 405px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.circa .secondwave {
  position: absolute;
  width: 561px;
  height: 846px;
  top: 1165px;
  left: 124px;
  object-fit: cover;
}

.circa .img {
  position: absolute;
  width: 523px;
  height: 445px;
  top: 1165px;
  left: 721px;
  object-fit: cover;
}

.circa .p {
  position: absolute;
  width: 514px;
  top: 1669px;
  left: 721px;
  color: #000000;
  font-size: 20px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.circa .secondwave-2 {
  position: absolute;
  width: 1090px;
  height: 828px;
  top: 2761px;
  left: 126px;
  object-fit: cover;
}

.circa .BLOCK {
  position: absolute;
  width: 1092px;
  height: 444px;
  top: 2153px;
  left: 126px;
}

.circa .frame {
  display: flex;
  flex-direction: column;
  width: 329px;
  align-items: center;
  gap: 50px;
  position: absolute;
  top: 0;
  left: 763px;
}

.circa .MIG {
  position: relative;
  width: 355px;
  height: 205px;
  margin-left: -13.24px;
  margin-right: -13.24px;
  object-fit: cover;
}

.circa .text-wrapper-2 {
  position: relative;
  top: -15px;
  width: 355px;
  margin-left: -13.24px;
  margin-right: -13.24px;
  mix-blend-mode: difference;
  color: #ffffff;
  font-size: 18px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.circa .MIG-2 {
  position: absolute;
  width: 710px;
  height: 444px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.circa .IMAGES-GRID {
  position: absolute;
  width: 1090px;
  height: 970px;
  top: 3683px;
  left: 126px;
}

.circa .footer {
  position: absolute;
  width: 1088px;
  height: 19px;
  top: 4744px;
  left: 132px;
  background-color: transparent;
}

.circa .text-wrapper-3 {
  position: absolute;
  width: 148px;
  top: 0;
  left: 0;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.circa .terms-privacy {
  position: absolute;
  width: 101px;
  top: 3px;
  left: 983px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

